* {
  margin: 0;
  font: 62.5% 'Mulish', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.a {
  fill: none;
}

.b {
  fill: #272343;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: 2rem auto;
}

nav {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}

h3 {
  font-size: 2.5rem;
  color: #272343;
  font-weight: bold;
}

p,
option {
  font-size: 2rem;
  color: #272343;
}

option {
  width: 100%;
  padding: 12px 0;
}

.link {
  padding: 16px;
}

input,
select {
  width: 100%;
  height: auto;
  padding: 1.5rem 2rem;
  background-color: #f4f3f4;
  border: none;
  font-size: 1.875rem;
  margin: 1em 0;
}

select {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(./assets/arrow-down-s-line.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 2rem top 50%, 0 0;
  background-size: 2.5rem auto, 100%;
  cursor: pointer;
}

::placeholder {
  color: #56536b;
}

button {
  position: relative;
  width: 100%;
  height: auto;
  padding: 16px;
  background-color: #272343;
  color: white;
  border: none;
  font-size: 1.875rem;
  margin: 1em 0;
  font-weight: bolder;
  cursor: pointer;
}

.recent_downloads {
  background-color: #f4f3f4;
  height: auto;
  margin: 2rem 0;
  padding: 16px;
}

.recent_downloads header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent_downloads header p:first-child {
  font-weight: bold;
}

.recent_downloads header p:nth-child(2) {
  font-size: 1.5rem;
}

.recent_videos {
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1.5rem;
  margin: 2rem 0;
}

.box {
  width: 100%;
  height: 150px;
  background-color: red;
}

.modal {
  max-height: 0;
  overflow: hidden;
}

.show {
  padding: 16px;
  box-shadow: 0px -5px 23px #00000060;
  max-width: 500px;
  background-color: white;
  z-index: 3;
  transition: all 0.3s cubic-bezier(.49,.11,.6,1);
  max-height: 700px;
  position: fixed;
  bottom: 0;
}

.modal button {
  margin: 0;
}

figure {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.note {
  margin: 2rem 0;
  font-size: 1.5rem;
}

.note span {
  font-size: 1.5rem;
  font-weight: bold;
}

label p {
  text-align: center;
  font-weight: bold;
}

.cancel {
  margin: 0;
  background-color: white;
  color: #272343;
  font-weight: normal;
}
